body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

a {
  color: red;
  text-decoration: none;
}

main {
  padding: 2rem;
  margin-top: 3rem;
  color: black;
}

.component {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  place-items: center;

  div {
    border: 2px solid #ddd;
    border-radius: 2rem;
    width: 10rem;
    padding: 2rem;
    box-shadow: 2px 3px 7px #ccc;
  }
}
